BODY {
	MARGIN: 0px
}
FORM {
	MARGIN: 0px
}
BODY {
	FILTER: none; VISIBILITY: visible! important; WORD-BREAK: break-all; ZOOM: 1! important; FONT-FAMILY: Arial; WORD-WRAP: break-word; moz-opacity: 1
}
TD {
	FILTER: none; VISIBILITY: visible! important; WORD-BREAK: break-all; ZOOM: 1! important; FONT-FAMILY: Arial; WORD-WRAP: break-word; moz-opacity: 1
}
DIV {
	FILTER: none; VISIBILITY: visible! important; WORD-BREAK: break-all; ZOOM: 1! important; FONT-FAMILY: Arial; WORD-WRAP: break-word; moz-opacity: 1
}
TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
DIV {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
BODY {
	BACKGROUND-POSITION-Y: 11px
}
HTML BODY CENTER {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #usrbar {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #ft {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #usrbar NOBR {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #usrbar STRONG {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #usrbar A {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #usrbar A:link {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #usrbar A:visited {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #ft A {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #ft A:link {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #ft A:visited {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
HTML BODY CENTER #usrbar {
	DISPLAY: block! important; LINE-HEIGHT: 19px! important; HEIGHT: 19px! important
}
HTML BODY CENTER #ft {
	DISPLAY: block! important; LINE-HEIGHT: 19px! important; HEIGHT: 19px! important
}
HTML BODY CENTER #usrbar NOBR {
	DISPLAY: block! important; LINE-HEIGHT: 19px! important; HEIGHT: 19px! important
}
HTML BODY CENTER #usrbar STRONG {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
HTML BODY CENTER #usrbar A {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
HTML BODY CENTER #usrbar A:link {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
HTML BODY CENTER #usrbar A:visited {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
HTML BODY CENTER #ft A {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
HTML BODY CENTER #ft A:link {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
HTML BODY CENTER #ft A:visited {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
HTML BODY CENTER #usrbar STRONG {
	COLOR: #000! important; TEXT-ALIGN: left! important; TEXT-DECORATION: none! important
}
HTML BODY CENTER {
	DISPLAY: block! important
}
HTML BODY CENTER #main {
	RIGHT: auto! important; LEFT: auto! important; BOTTOM: auto! important; POSITION: relative! important; TOP: auto! important
}
HTML BODY CENTER #usrbar {
	RIGHT: auto! important; LEFT: auto! important; BOTTOM: auto! important; POSITION: relative! important; TOP: auto! important
}
HTML BODY CENTER #ft {
	RIGHT: auto! important; LEFT: auto! important; BOTTOM: auto! important; POSITION: relative! important; TOP: auto! important
}
HTML BODY CENTER #usrbar NOBR {
	COLOR: #000! important; TEXT-ALIGN: right! important
}
HTML BODY CENTER #usrbar {
	PADDING-RIGHT: 10px! important; PADDING-LEFT: 0px! important; Z-INDEX: 65530! important; BACKGROUND: #fff; FILTER: alpha(opacity=65)! important; PADDING-BOTTOM: 3px! important; WIDTH: auto! important; COLOR: #000! important; PADDING-TOP: 4px! important; TEXT-ALIGN: right! important; moz-opacity: .5
}
HTML BODY CENTER #usrbar A {
	COLOR: #00c! important
}
HTML BODY CENTER #usrbar A:link {
	COLOR: #00c! important
}
HTML BODY CENTER #usrbar A:visited {
	COLOR: #00c! important
}
HTML BODY CENTER #ft {
	Z-INDEX: 65534! important; COLOR: #666! important; TEXT-ALIGN: center! important
}
HTML BODY CENTER #ft A {
	COLOR: #77c! important
}
HTML BODY CENTER #ft A:link {
	COLOR: #77c! important
}
HTML BODY CENTER #ft A:visited {
	COLOR: #77c! important
}
HTML BODY CENTER #main {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; Z-INDEX: 10000! important; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; max-width: 1000px; min-width: 756px
}
#header {
	POSITION: relative
}
#header DIV.lc {
	FONT-SIZE: 0px; POSITION: relative; HEIGHT: 100%
}
#header DIV.rc {
	FONT-SIZE: 0px; RIGHT: 0px; POSITION: relative; HEIGHT: 100%
}
#header DIV.tit {
	POSITION: absolute
}
#header DIV.desc {
	POSITION: absolute
}
#tabline {
	FONT-SIZE: 0px; WIDTH: 100%; LINE-HEIGHT: 1px; POSITION: absolute; HEIGHT: 1px
}
#tab {
	PADDING-LEFT: 10px; WIDTH: 100%; LINE-HEIGHT: 22px; POSITION: absolute; HEIGHT: 22px
}
#tab A.on {
	PADDING-RIGHT: 10px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#tab SPAN {
	FONT-SIZE: 13px; FLOAT: left
}
#tab A {
	PADDING-RIGHT: 14px; PADDING-LEFT: 14px; FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#tab2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 348px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; PADDING-TOP: 1px; POSITION: relative; HEIGHT: 23px
}
#tab2 SPAN {
	CURSOR: default
}
.stage {
	WIDTH: 100%; PADDING-TOP: 10px; HEIGHT: auto
}
.stagepad {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-TOP: 0px
}
.applytmp {
	BACKGROUND: #ffffe1; BORDER-BOTTOM: #ce0f0f 2px solid; HEIGHT: 43px
}
#set_cs {
	Z-INDEX: 65533; POSITION: absolute
}
#set_cs TABLE.actbar {
	BORDER-RIGHT: #e10602 1px solid; BORDER-TOP: #e10602 1px solid; BACKGROUND: #ffffe1; MARGIN-BOTTOM: 10px; BORDER-LEFT: #e10602 1px solid; BORDER-BOTTOM: #e10602 1px solid; HEIGHT: 70px
}
#set_cs DIV.panel {
	WIDTH: 100%; POSITION: absolute; TOP: 71px
}
#cscnt {
	BORDER-RIGHT: #ec4847 2px solid; PADDING-RIGHT: 15px; BORDER-TOP: #ec4847 2px solid; PADDING-LEFT: 15px; BACKGROUND: #fff; PADDING-BOTTOM: 15px; BORDER-LEFT: #ec4847 2px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #ec4847 2px solid; TEXT-ALIGN: left
}
#cslayout {
	BORDER-RIGHT: #ec4847 2px solid; PADDING-RIGHT: 15px; BORDER-TOP: #ec4847 2px solid; PADDING-LEFT: 15px; BACKGROUND: #fff; PADDING-BOTTOM: 15px; BORDER-LEFT: #ec4847 2px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #ec4847 2px solid; TEXT-ALIGN: left
}
#csbg {
	BORDER-RIGHT: #ec4847 2px solid; PADDING-RIGHT: 15px; BORDER-TOP: #ec4847 2px solid; PADDING-LEFT: 15px; BACKGROUND: #fff; PADDING-BOTTOM: 15px; BORDER-LEFT: #ec4847 2px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #ec4847 2px solid; TEXT-ALIGN: left
}
#cscnt {
	WIDTH: 800px
}
#cslayout {
	WIDTH: 620px
}
#csbg {
	WIDTH: 520px
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
#layout {
	TABLE-LAYOUT: fixed
}
#m_blog DIV.cnt {
	OVERFLOW: hidden
}
#m_albumlist DIV.desc {
	OVERFLOW: hidden
}
#m_blog DIV.tit {
	OVERFLOW: hidden
}
#m_artclg DIV.item {
	OVERFLOW: hidden
}
#m_comment DIV.item {
	OVERFLOW: hidden
}
#m_links DIV.item {
	OVERFLOW: hidden
}
#m_cang DIV.item {
	OVERFLOW: hidden
}
#m_album DIV.image {
	OVERFLOW: hidden
}
#m_links DIV.item {
	OVERFLOW: hidden
}
#in_comment DIV.desc {
	OVERFLOW: hidden
}
#m_friblog DIV.item {
	OVERFLOW: hidden
}
#m_blog DIV.cnt {
	OVERFLOW: hidden; WORD-BREAK: break-all; POSITION: static; WORD-WRAP: break-word
}
#m_blog DIV.cnt FONT {
	LINE-HEIGHT: normal
}
#m_blog DIV.cnt  {
	LINE-HEIGHT: normal
}
#m_blog TABLE {
	TABLE-LAYOUT: auto
}
#in_comment DIV.tit {
	TEXT-ALIGN: left
}
#in_send DIV.tit {
	TEXT-ALIGN: left
}
#in_reader DIV.tit {
	TEXT-ALIGN: left
}
.x-blog-opt-sp {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#usrbar_popup {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; LINE-HEIGHT: normal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
#usrbar_popup NOBR {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; LINE-HEIGHT: normal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
#usrbar_popup STRONG {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; LINE-HEIGHT: normal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
#usrbar_popup A {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; LINE-HEIGHT: normal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
#usrbar_popup A:link {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; LINE-HEIGHT: normal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
#usrbar_popup A:visited {
	CLEAR: both! important; BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px! important; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: none! important; FLOAT: none! important; VISIBILITY: visible! important; MARGIN: 0px; WORD-SPACING: normal! important; VERTICAL-ALIGN: baseline! important; OVERFLOW: visible! important; TEXT-TRANSFORM: none! important; BORDER-LEFT: medium none; WIDTH: auto! important; DIRECTION: inherit! important; LAYOUT-FLOW: horizontal! important; LINE-HEIGHT: normal! important; BORDER-BOTTOM: medium none; ZOOM: 1! important; FONT-FAMILY: Arial! important; LETTER-SPACING: normal! important; POSITION: static! important; FONT-VARIANT: normal! important; TEXT-DECORATION: none! important; moz-opacity: 1; max-width: none; min-width: none; font-size-adjust: none
}
#usrbar_popup {
	DISPLAY: block! important; LINE-HEIGHT: 19px! important; HEIGHT: 19px! important
}
#usrbar_popup NOBR {
	DISPLAY: block! important; LINE-HEIGHT: 19px! important; HEIGHT: 19px! important
}
#usrbar_popup STRONG {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
#usrbar_popup A {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
#usrbar_popup A:link {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
#usrbar_popup A:visited {
	DISPLAY: inline! important; HEIGHT: auto! important; TEXT-DECORATION: underline! important
}
#usrbar_popup STRONG {
	COLOR: #000! important; TEXT-ALIGN: left! important; TEXT-DECORATION: none! important
}
#usrbar_popup {
	PADDING-RIGHT: 10px! important; PADDING-LEFT: 0px! important; RIGHT: auto! important; BACKGROUND: #fff; FILTER: alpha(opacity=65)! important; LEFT: auto! important; PADDING-BOTTOM: 3px! important; WIDTH: auto! important; COLOR: #000! important; BOTTOM: auto! important; PADDING-TOP: 4px! important; POSITION: relative! important; TOP: auto! important; TEXT-ALIGN: right! important; moz-opacity: .5
}
#usrbar_popup NOBR {
	COLOR: #000! important; TEXT-ALIGN: right! important
}
#usrbar_popup A {
	COLOR: #00c! important
}
#usrbar_popup A:link {
	COLOR: #00c! important
}
#usrbar_popup A:visited {
	COLOR: #00c! important
}
#usrbar_popup #my_home_container {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px
}
#cals {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ccc 1px solid; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
#cals .cal_body {
	FONT-SIZE: 12px; WIDTH: 100%; FONT-FAMILY: Arial
}
#cals .cal_mth {
	FONT-SIZE: 12px; WIDTH: 100%; FONT-FAMILY: Arial
}
#cals .cal_yr TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; LINE-HEIGHT: 15px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
#cals .cal_yr .cal_pre {
	PADDING-LEFT: 10px; FONT-SIZE: 8px; BACKGROUND: url(http://img.baidu.com/hi/img/date/pre.gif) no-repeat center center
}
#cals .cal_yr .cal_nxt {
	PADDING-LEFT: 10px; FONT-SIZE: 8px; BACKGROUND: url(http://img.baidu.com/hi/img/date/nxt.gif) no-repeat center center
}
#cals .cal_yr .cal_pre_ovr {
	PADDING-LEFT: 10px; FONT-SIZE: 8px; BACKGROUND: url(http://img.baidu.com/hi/img/date/pre_ovr.gif) no-repeat center center; CURSOR: pointer
}
#cals .cal_yr .cal_nxt_ovr {
	PADDING-LEFT: 10px; FONT-SIZE: 8px; BACKGROUND: url(http://img.baidu.com/hi/img/date/nxt_ovr.gif) no-repeat center center; CURSOR: pointer
}
#cals .cal_yr TABLE {
	WIDTH: 30px
}
#cals TR {
	
}
#cals TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 14px; PADDING-TOP: 3px; FONT-FAMILY: Arial; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#cals .today {
	BORDER-RIGHT: #fca93f 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #fca93f 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #fff4cc; PADDING-BOTTOM: 2px; BORDER-LEFT: #fca93f 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #fca93f 1px solid
}
#cals .cal_week TD {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
#cals .mth_ctrl {
	COLOR: #000
}
#cals .cal_date {
	COLOR: #000
}
#cals .cal_sa {
	COLOR: #006
}
#cals .cal_su {
	COLOR: #006
}
#cals .not_come {
	COLOR: #333
}
#cals .cal_before {
	VISIBILITY: hidden
}
#cals .cal_after {
	VISIBILITY: hidden
}
#cals .cal_active {
	FONT-WEIGHT: bold; COLOR: #00c; TEXT-DECORATION: underline
}
#cals .cal_select {
	BORDER-RIGHT: #d6d6d6 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #d6d6d6 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d6d6d6 1px solid; COLOR: #00c; PADDING-TOP: 2px; BORDER-BOTTOM: #d6d6d6 1px solid; BACKGROUND-COLOR: #eee; TEXT-DECORATION: underline
}
#cals .disable {
	COLOR: #999; TEXT-DECORATION: none
}
#cals .yr_normal {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 14px; BORDER-BOTTOM: #fff 1px solid
}
#cals .mth_normal {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 14px; BORDER-BOTTOM: #fff 1px solid
}
#cals .yr_sel {
	BORDER-RIGHT: #ffad42 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffad42 1px solid; PADDING-LEFT: 0px; BACKGROUND: #ffec93; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffad42 1px solid; CURSOR: pointer; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffad42 1px solid
}
#cals .mth_sel {
	BORDER-RIGHT: #ffad42 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffad42 1px solid; PADDING-LEFT: 0px; BACKGROUND: #ffec93; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffad42 1px solid; CURSOR: pointer; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #ffad42 1px solid
}
#cals .yr_sel .cal_arrow {
	DISPLAY: none
}
#cals .mth_sel .cal_arrow {
	DISPLAY: none
}
#cals .yr_normal .cal_arrow {
	DISPLAY: none
}
#cals .mth_normal .cal_arrow {
	DISPLAY: none
}
#cals .cal_roll {
	BORDER-RIGHT: #ff9000 1px solid; BORDER-TOP: #ff9000 1px solid; DISPLAY: none; FONT-SIZE: 12px; BACKGROUND: #fef3c1; BORDER-LEFT: #ff9000 1px solid; LINE-HEIGHT: 18px; BORDER-BOTTOM: #ff9000 1px solid; FONT-FAMILY: Arial; POSITION: absolute
}
#cals .cal_roll .normal {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#cals .cal_roll .msover {
	BACKGROUND: #f5e182; CURSOR: pointer
}
#cals .cal_pop {
	DISPLAY: none; POSITION: absolute
}
#cals .cal_pp_arw {
	DISPLAY: none; BACKGROUND: url(http://img.baidu.com/hi/img/date/poparrow.gif) no-repeat; LEFT: 10%; POSITION: relative; TOP: 1px; line-h: 6px
}
#cals .cal_pp_cnt {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #666 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; BACKGROUND: url(http://img.baidu.com/hi/img/date/popbg.gif); PADDING-BOTTOM: 3px; BORDER-LEFT: #666 1px solid; MARGIN-RIGHT: 20px; PADDING-TOP: 3px; BORDER-BOTTOM: #666 1px solid; FONT-FAMILY: Arial; WHITE-SPACE: nowrap
}
#cals .cal_rng {
	
}
#cals .cal_rng TD {
	FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%
}
#spVerifyKey {
	IME-MODE: disabled
}
#spVerifyKey INPUT {
	IME-MODE: disabled
}
#ft {
	CLEAR: both; FONT-SIZE: 12px; COLOR: #666; LINE-HEIGHT: 20px; FONT-FAMILY: Arial; HEIGHT: 20px; TEXT-ALIGN: center
}
#ft A {
	COLOR: #77c; TEXT-DECORATION: underline
}
#ft A:link {
	COLOR: #77c; TEXT-DECORATION: underline
}
#ft A:visited {
	COLOR: #77c; TEXT-DECORATION: underline
}
.userbar {
	BACKGROUND: url(http://img.baidu.com/hi/logo/top_nav_bg.png) repeat-x 0px -1px; BORDER-BOTTOM: #c0c0c0 1px solid; HEIGHT: 40px
}
.userbar  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#nav {
	PADDING-LEFT: 20px; MARGIN: 0px auto; WIDTH: 980px; LINE-HEIGHT: 30px; HEIGHT: 40px
}
#nav .logo {
	MARGIN-TOP: 4px; FLOAT: left
}
#nav .topmenu {
	MARGIN-LEFT: 130px; PADDING-TOP: 6px
}
#nav LI {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 10px
}
#nav LI A {
	DISPLAY: block; FONT-SIZE: 14px; WIDTH: 70px; COLOR: #000! important; FONT-FAMILY: Î¢ÈíÑÅºÚ,ËÎÌå; TEXT-ALIGN: center
}
#nav LI A:link {
	DISPLAY: block; FONT-SIZE: 14px; WIDTH: 70px; COLOR: #000! important; FONT-FAMILY: Î¢ÈíÑÅºÚ,ËÎÌå; TEXT-ALIGN: center
}
#nav LI A:visited {
	COLOR: #000! important; TEXT-DECORATION: none
}
#nav LI A:hover {
	COLOR: #000! important; TEXT-DECORATION: underline
}
#nav LI A.on {
	FONT-WEIGHT: bold; BACKGROUND: url(http://img.baidu.com/hi/img/ihome/nav_on2.gif) no-repeat center center; COLOR: #000
}
#nav .manage {
	FLOAT: right; COLOR: #666; LINE-HEIGHT: 30px
}
#nav .manage A {
	FONT-SIZE: 12px! important; COLOR: #333! important; TEXT-DECORATION: underline
}
#nav .manage A:link {
	FONT-SIZE: 12px! important; COLOR: #333! important; TEXT-DECORATION: underline
}
#nav .manage A:visited {
	FONT-SIZE: 12px! important; COLOR: #333! important; TEXT-DECORATION: underline
}
#nav .manage DT {
	FLOAT: left
}
#nav .manage DD {
	FLOAT: left
}
#nav .manage DD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#nav .manage DD.nolink {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#nav .no-login {
	MARGIN-TOP: 6px
}
#nav .manage .qentrance {
	PADDING-RIGHT: 0px; POSITION: relative
}
#nav .manage .qentrance .bub {
	RIGHT: 0px; BACKGROUND: no-repeat 0px 0px; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src="http://hi.bdimg.com/static/icommon/img/new.png?v=29100664.png.png"); OVERFLOW: hidden; WIDTH: 19px; POSITION: absolute; TOP: 3px; HEIGHT: 12px
}
#nav LI.vline {
	MARGIN: 6px 0px; BORDER-LEFT: #c6c5c9 1px dotted; LINE-HEIGHT: 0; HEIGHT: 18px
}
#nav .manage FORM {
	DISPLAY: inline
}
#nav .manage FORM  {
	FONT-FAMILY: ËÎÌå! important
}
#nav .manage INPUT {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c9c9c9 1px solid; WIDTH: 90px; LINE-HEIGHT: 22px; PADDING-TOP: 1px; BORDER-BOTTOM: #c9c9c9 1px solid; HEIGHT: 22px
}
#nav .manage INPUT.hasuser {
	BACKGROUND-COLOR: #fbfbfb
}
#nav .manage .loginlink {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; BACKGROUND: url(http://img.baidu.com/hi/img/ihome/login_btn.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 49px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#nav .manage .loginlink:link {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; BACKGROUND: url(http://img.baidu.com/hi/img/ihome/login_btn.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 49px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#nav .manage .loginlink:visited {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; BACKGROUND: url(http://img.baidu.com/hi/img/ihome/login_btn.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 49px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; HEIGHT: 22px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#nav .manage .loginlink:hover {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: -51px 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
#nav .manage .reglink {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; COLOR: #f00! important; PADDING-TOP: 0px
}
#nav #topMsgLi {
	Z-INDEX: 65535; POSITION: relative
}
#tip {
	Z-INDEX: 65534; WIDTH: 240px; PADDING-TOP: 12px; POSITION: absolute
}
#tip #arrow {
	RIGHT: 50px; POSITION: absolute; TOP: 7px
}
#tip #container .header {
	BACKGROUND-IMAGE: url(http://img.baidu.com/hi/img/mfu/tip-bg.gif)
}
#tip #container .wrapper {
	BACKGROUND-IMAGE: url(http://img.baidu.com/hi/img/mfu/tip-bg.gif)
}
#tip #container .header {
	BACKGROUND-POSITION: center top; FONT-SIZE: 1px; LINE-HEIGHT: 8px; HEIGHT: 8px
}
#tip #container .wrapper {
	BACKGROUND-POSITION: center bottom; POSITION: relative
}
#tip #container .close {
	RIGHT: 16px; CURSOR: pointer; POSITION: absolute; TOP: 6px
}
#tip #container .main {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: 15px 5px; PADDING-LEFT: 60px; BACKGROUND-IMAGE: url(http://img.baidu.com/hi/img/mfu/tip-logo.gif); PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: left
}
#tip #container .title {
	FONT-WEIGHT: bold; OVERFLOW: hidden; COLOR: #000; PADDING-TOP: 0px
}
#tip #container .content {
	COLOR: #000
}
#tip #container .more-action {
	PADDING-RIGHT: 5px; PADDING-BOTTOM: 3px; TEXT-ALIGN: right
}
#tip #container .more-action A {
	COLOR: #00c! important; TEXT-DECORATION: underline! important
}
.badgeTip {
	POSITION: relative
}
.badgeTip_bg {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src="http://img.baidu.com/hi/img/regist/oldactv/badgeLayer.png"); OVERFLOW: hidden; WIDTH: 227px; HEIGHT: 169px; TEXT-ALIGN: right
}
.badgeTip_link {
	LEFT: 130px; POSITION: absolute; TOP: 143px
}
.badgeTip_link A {
	FONT-SIZE: 12px
}
.badgeTip A:link {
	TEXT-DECORATION: underline
}
.badgeTip A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#nav .manage .active {
	MARGIN-TOP: 3px; WIDTH: 66px; HEIGHT: 23px
}
#nav .manage .active A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; COLOR: #fff! important; PADDING-TOP: 0px; TEXT-DECORATION: none! important
}
#nav .manage .active A IMG {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#nav .manage .active A:link {
	COLOR: #fff! important; TEXT-DECORATION: none
}
#nav .active A:hover {
	COLOR: #fff! important; TEXT-DECORATION: none
}
.activeTip {
	POSITION: relative
}
.activeTip_bg {
	BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='crop', src="http://img.baidu.com/hi/img/regist/oldactv/activeTip1.png"); OVERFLOW: hidden; WIDTH: 222px; HEIGHT: 119px; TEXT-ALIGN: right
}
.activeTip_close {
	LEFT: 202px; BACKGROUND-IMAGE: url(http://img.baidu.com/hi/img/regist/oldactv/close.gif); OVERFLOW: hidden; WIDTH: 12px; CURSOR: pointer; POSITION: absolute; TOP: 14px; HEIGHT: 12px
}
.activeTip_link {
	FONT-SIZE: 12px! important; LEFT: 120px; POSITION: absolute; TOP: 70px
}
.activeTip_link A {
	COLOR: #e30500! important
}
.activeTip A:link {
	COLOR: #e30500! important; TEXT-DECORATION: underline
}
.activeTip A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.mod-entrance-tip {
	Z-INDEX: 99999; OVERFLOW: hidden; WIDTH: 240px; FONT-FAMILY: 'ËÎÌå'; POSITION: absolute; TOP: 28px
}
.mod-entrance-tip .triangle {
	POSITION: relative; HEIGHT: 8px
}
.mod-entrance-tip .triangle .triangle-outter {
	FONT-SIZE: 16px; LEFT: 50px; OVERFLOW: hidden; COLOR: #e5bd00; FONT-FAMILY: 'ËÎÌå'; POSITION: absolute; TOP: 0px; HEIGHT: 10px
}
.mod-entrance-tip .triangle .triangle-inner {
	FONT-SIZE: 16px; LEFT: 50px; OVERFLOW: hidden; COLOR: #fef1c2; FONT-FAMILY: 'ËÎÌå'; POSITION: absolute; TOP: 1px; HEIGHT: 10px
}
.mod-entrance-tip .bar {
	OVERFLOW: hidden; HEIGHT: 15px; TEXT-ALIGN: right
}
.mod-entrance-tip .btn-close {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: url(http://hi.bdimg.com/static/icommon/img/close.jpg) #fef1c2 no-repeat right 0px; MARGIN: 5px 5px 0px 0px; BORDER-LEFT: medium none; WIDTH: 10px; CURSOR: pointer; BORDER-BOTTOM: medium none; HEIGHT: 10px; outline: none
}
.mod-entrance-tip .main {
	BORDER-RIGHT: #e5bd00 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #e5bd00 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 10px; BORDER-LEFT: #e5bd00 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #e5bd00 1px solid; BACKGROUND-COLOR: #fef1c2; webkit-border-radius: 2px; border-radius: 2px; moz-border-radius: 2px
}
.mod-entrance-tip .portrait {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 50px; HEIGHT: 50px
}
.mod-entrance-tip .text {
	FONT-SIZE: 12px; FLOAT: left; MARGIN: -3px 0px 0px 5px; WIDTH: 170px
}
.mod-entrance-tip .text .caption {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px; COLOR: black; LINE-HEIGHT: 160%
}
.mod-entrance-tip .text .speech {
	MARGIN: 0px; COLOR: #797979; LINE-HEIGHT: 150%
}
.mod-entrance-tip .main {
	moz-background-clip: padding; webkit-background-clip: padding-box; background-clip: padding-box
}
