@charset "UTF-8";

.csdn_note dd, .csdn_notice_tip dd {
  margin: 0;
}

.csdn_note {
  z-index: 9999;
}

.csdn_note .notice_top_arrow {
  z-index: 100;
  position: absolute;
  top: -9px;
  left: 50%;
  margin-left: -10px;
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-color: transparent transparent #aaa transparent;
  border-style: dashed dashed solid dashed;
  border-width: 0 10px 10px 10px;
}

.csdn_note .notice_top_arrow .inner {
  position: absolute;
  top: 1px;
  left: -10px;
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-color: transparent transparent #fff transparent;
  border-style: dashed dashed solid dashed;
  border-width: 0 10px 10px 10px;
}

.csdn_note a {
  color: #0068b7;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  margin: 0;
  outline: none;
}

.csdn_note a:link {
  text-decoration: none;
  color: #0068b7;
}

.csdn_note a:visited {
  text-decoration: none;
  color: #0068b7;
  outline: none;
}

.csdn_note a:active {
  outline: none;
}

.csdn_note .notifications a:hover {
  text-decoration: none;
  color: #0068b7;
}

.csdn_note .notifications a:active {
  text-decoration: none;
  color: #0068b7;
}

.csdn_note img {
  border: none;
}

.csdn_note .notifications {
  font: normal 12px/24px Helvetica, Tahoma, Arial, sans-serif;
  color: #333;
  overflow: hidden;
}

.csdn_note .menu_title {
  height: 35px;
  overflow: hidden;
  padding: 0 10px;
  border-bottom: solid 1px #DDD;
  line-height: 35px;
  position: relative;
  -moz-box-shadow: 0 1px 1px rgba(198,198,198,0.4);
  -webkit-box-shadow: 0 1px 1px rgba(198,198,198,0.4);
  box-shadow: 0 1px 1px rgba(198,198,198,0.4);
}

.csdn_note .title {
  display: block;
  width: 100%;
}

.csdn_note .notifications .menu_title a {
  margin-right: 10px;
}

.csdn_note .notifications .menu_title .close1 {
  margin: 0;
  margin-top: 3px;
}

.csdn_note .hidden {
  display: none;
}

.csdn_note .notifications dl {
  text-align: left;
  margin: 0;
  font-weight: normal;
}

.csdn_note .box {
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
  box-shadow: 0 2px 4px rgba(0,0,0,.2);
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}

.csdn_note .box dt {
  font-weight: normal;
}

.csdn_note .notifications dl:last-child {
  background: none;
}

.csdn_note .notifications dt {
  padding: 13px 15px 13px 38px;
  line-height: 24px;
  font-size: 13px;
  color: #999;
  border-bottom: 1px #ddd solid;
  position: relative;
  background-color: #f6fafc;
  word-wrap: break-word;
  word-break: break-all;
}

.csdn_note .notifications .list dt {
  background-color: #fff;
  cursor: pointer;
}
.csdn_note .notifications .noslide dt{
  cursor: default;
}
.csdn_note .notifications .list dt, .csdn_note .detail_con dt {
  overflow: hidden;
  _zoom: 1;
}

.csdn_note .notifications .list dt:hover {
  background-color: #f8f8f8;
}

.csdn_note .notifications dt .wrap {
  width: auto;
  display: inline;
}

.csdn_note .notifications .list dt a {
  line-height: 24px;
  color: #999;
  text-decoration: none;
}

.csdn_note .notifications .noslide dt a {
  color: #0068B7;
}

.csdn_note .notifications .list dt a:hover {
}

.csdn_note .notifications dt a {
  display: inline;
  color: #0068B7;
}

.csdn_note .notifications dt a:hover {
  background: none;
}

.csdn_note .notifications dd {
  padding: 13px 15px 13px 38px;
  color: #666;
  margin: 0;
  border-bottom: 1px #ddd dotted;
  display: block;
  *display: inline-block;
}

.csdn_note .notifications dd:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.csdn_note .notifications li {
  padding: 0 0 0 9px;
  background: url("http://csdnimg.cn/rabbit/notev2/images/point_1.gif") no-repeat left 11px;
}

.csdn_note .notifications .rev_conn dd img {
  margin-right: 10px;
  vertical-align: middle;
}

.csdn_note .notifications .rev_img dd img {
  width: 64px;
  height: 64px;
  margin: 0 10px 0 0;
  padding: 2px;
  border: solid 1px #ccc;
}

.csdn_note .notifications dt i {
  background: url("http://csdnimg.cn/rabbit/notev2/images/notice.png") no-repeat 5px -168px;
  position: absolute;
  left: 9px;
  margin-top: -6px;
  width: 28px;
  height: 33px;
}

.csdn_note .notice_11,
.csdn_note .rev_type100 dt i,
.csdn_note .rev_type101 dt i,
.csdn_note .rev_type102 dt i,
.csdn_note .rev_type103 dt i,
.csdn_note .rev_type104 dt i,
.csdn_note .rev_type105 dt i,
.csdn_note .rev_type106 dt i,
.csdn_note .rev_type107 dt i,
.csdn_note .rev_type108 dt i,
.csdn_note .rev_type109 dt i,
.csdn_note .rev_type110 dt i {
  background-position: 5px -200px;
}

.csdn_note .rev_type200 dt i {
  background-position: 5px -350px;
}

.csdn_note .rev_type300 dt i,
.csdn_note .rev_type301 dt i,
.csdn_note .rev_type302 dt i,
.csdn_note .rev_type303 dt i,
.csdn_note .rev_type304 dt i,
.csdn_note .rev_type305 dt i,
.csdn_note .rev_type306 dt i,
.csdn_note .rev_type307 dt i,
.csdn_note .rev_type308 dt i,
.csdn_note .rev_type309 dt i,
.csdn_note .rev_type310 dt i,
.csdn_note .rev_type311 dt i,
.csdn_note .rev_type312 dt i,
.csdn_note .rev_type313 dt i,
.csdn_note .rev_type314 dt i,
.csdn_note .rev_type3020 dt i,
.csdn_note .rev_type3050 dt i,
.csdn_note .rev_type3110 dt i,
.csdn_note .rev_type3100 dt i {
  background-position: 5px -230px;
}

.csdn_note .rev_type400 dt i,
.csdn_note .rev_type401 dt i,
.csdn_note .rev_type402 dt i,
.csdn_note .rev_type403 dt i,
.csdn_note .rev_type404 dt i {
  background-position: 5px -320px;
}

.csdn_note .rev_type500 dt i,
.csdn_note .rev_type501 dt i,
.csdn_note .rev_type502 dt i {
  background-position: 5px -50px;
}

.csdn_note .rev_type600 dt i {
  background-position: 5px -290px;
}

.csdn_note .rev_type701 dt i,
.csdn_note .rev_type702 dt i,
.csdn_note .rev_type703 dt i,
.csdn_note .rev_type704 dt i,
.csdn_note .rev_type705 dt i,
.csdn_note .rev_type706 dt i,
.csdn_note .rev_type707 dt i,
.csdn_note .rev_type708 dt i,
.csdn_note .rev_type709 dt i,
.csdn_note .rev_type710 dt i,
.csdn_note .rev_type711 dt i,
.csdn_note .rev_type712 dt i,
.csdn_note .rev_type713 dt i,
.csdn_note .rev_type714 dt i,
.csdn_note .rev_type715 dt i,
.csdn_note .rev_type716 dt i,
.csdn_note .rev_type717 dt i {
  background-position: 5px -510px;
}

.csdn_note .notice_13,
.csdn_note .rev_news dt i,
.csdn_note .rev_type17 dt i,
.csdn_note .rev_type18 dt i {
  background-position: 5px -350px;
}

.csdn_note .notice_14 {
  background-position: 5px -380px;
}

.csdn_note .notice_15 {
  background-position: 5px -410px;
}

.csdn_note .notice_16 {
  background-position: 5px -440px;
}

.csdn_note .notice_17,
.csdn_note .rev_type9 dt i {
  background-position: 5px -475px;
}

.csdn_note .notice_18,
.csdn_note .rev_ask dt i {
  background-position: 5px -510px;
}
.csdn_note .rev_type1234 dt i {
  background-position: 5px -673px;
}

.csdn_note .notifications .count_down {
  float: right;
  margin: 0 0 0 5px;
  color: #999;
  text-align: right;
  font-size: 12px;
}

.csdn_note .notifications div.more {
  margin: 20px 0;
  text-align: center;
}

.csdn_note .notifications_page {
  float: right;
}

.csdn_note .notifications_page_none {
  float: right;
}
.csdn_note .notifications .notice_content .block {
  display: block;
}
.csdn_note .notifications .notifications_more {
  display: none;
  padding: 5px 0;
  background: #eee;
  text-align: center;
  color: #666;
}

.csdn_note .notifications .notifications_more:hover {
  background: #ddd;
}

.csdn_note .notifications_more:hover {
  display: block;
  background: #f8f8f8;
  text-align: center;
  color: #333;
}

.csdn_note .close1, .csdn_notice_tip .close2 {
  z-index: 20;
  background: url("http://csdnimg.cn/rabbit/notev2/images/ico_remove.png") no-repeat scroll -41px -3px transparent;
  display: block;
  height: 14px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 4px;
  text-decoration: none;
  top: 8px;
  width: 15px;
}


.csdn_notice_tip .close2 {
  top: 12px;
  right: 10px;
}

.nav_top_2011 p a.notice_num {
  outline: none;
}

.csdn_note .notice_list_con .unread dt {
  color: #333;
  background: #f6fafc;
  font-weight: bold;
}

.csdn_note .notice_list_con .unread dt a:link {
  color: #333;
}

.csdn_notice_tip .notifications .item {
  font-weight: normal;
}

.csdn_notice_tip .notifications .item  img {
  padding-right: 10px;
  vertical-align: middle;
}

.csdn_notice_tip .notifications .item  a {
  display: inline;
  color: #0068B7;
  margin: 0;
}

.csdn_note .notifications .menu_title .nex.csdn_note:active,
.csdn_note .notifications .menu_title .pr.csdn_note:active {
  margin-top: 1px;
}

.csdn_note .notifications .menu_title .disabled,
.csdn_note .notifications .menu_title .disabled:active {
  color: #999;
  margin-top: 0;
  cursor: default;
}
.csdn_note .detail_con .notice_content {
  position: relative;
}
.csdn_note .go_all {
  display: inline-block;
  padding-left: 25px;
  background: url("http://csdnimg.cn/rabbit/notev2/images/notice.png") no-repeat 0 -585px;
}

.csdn_note .go_back {
  display: inline-block;
  padding-left: 25px;
  background: url("http://csdnimg.cn/rabbit/notev2/images/notice.png") no-repeat 0 -615px;
}

.csdn_notice_tip {
  border: 1px #EEE solid;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #666;
  -moz-box-shadow: 1px 1px 3px #666;
  box-shadow: 1px 1px 3px #333;
}

.csdn_notice_tip .tip_text {
  padding: 8px 15px;
  font-size: 13px;
  color: #0068b7;
  text-align: left;
  cursor: pointer;
  line-height: 24px;
}

.csdn_note .notice_txt {
  float: left;
  word-wrap: break-word;
  word-break: break-all;
}

.csdn_note .empty {
  display: none;
  text-align: center;
  height: 100px;
  line-height: 100px;
  color: #999;
  text-indent: -9999em;
  background: url("http://csdnimg.cn/rabbit/notev2/images/no.png") no-repeat 50% 50%;
}
.csdn_note .loading {
  display: none;
  height: 51px;
  padding: 0;
  font-size: 12px;
  background: url("http://csdnimg.cn/rabbit/notev2/images/loading.gif") no-repeat center center;
}

#header_notice_num,
.nav_top_2011 p a.notice_num {
  display: inline-block;
  width: 20px!important;
  height: 14px!important;
  background: url("http://csdnimg.cn/rabbit/notev2/images/notice.png") no-repeat 0 -558px!important;
  text-indent: -9999em;
  padding: 0!important;
  line-height: 0!important;
  font-size: 0!important;
  vertical-align: middle;
}
.csdn_note .error {
  display: none;
  color: red;
  font-weight: bold;
  height: 51px;
  line-height: 51px;
  font-size: 14px;
  text-align: center;
  
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  width: auto;
}
html .nav_top_2011 p em,
html .pagetop_notice span em {
    margin-right: 0;
}

.csdn_note .notice_txt fieldset {
  border: 2px groove #F9F9F8;
  list-style: none outside disc;
  margin: auto 2px;
  outline: #000 none 0;
  padding: 0.35em 0.625em 0.75em;
}

.csdn_note .notice_txt legend {
  padding-left: 2px;
  padding-right: 2px;
}