#tag-suggest-pop{display:none;position:fixed;z-index:999;bottom:0;left:50%;margin-left:-340px;}
#tag-suggest-pop *{font:12px simsun}
#tag-suggest-pop .relative{position:relative}
#tag-suggest-pop .content{text-align:left;margin:0;padding:0 20px;width:640px;height:50px;background:#000;background:rgba(0,0,0,0.8);color:#fff;border-radius:6px 6px 0 0}
#tag-suggest-pop .close{position:absolute;width:24px;height:24px;right:-12px;top:-12px;background:url("http://csdnimg.cn/public/common/tag-suggest-pop/images/close.png") no-repeat;cursor:pointer}
#tag-suggest-pop span,#tag-suggest-pop a{display:block;float:left;height:26px;line-height:26px;margin-top:14px}
#tag-suggest-pop span{font-weight:bold}
#tag-suggest-pop a{margin-left:.5em;padding:0 10px;background:#e4e4e4;color:#000;font-weight:normal;font-size:14px;border-radius:6px;}
#tag-suggest-pop a:hover{background:#fff;text-decoration:none}
#tag-suggest-pop .content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80)\0;
  *background: #000;
  *filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
